body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.allTasks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addTaskButton {
  background-color: aqua;
  font-size: 30px;
  padding: 5px;
  color: maroon;
}

.addTaskButton:hover {
  border-color: darkgreen;
  box-shadow: 3px 3px 3px 3px orange;
}

.addTaskButton:active {
  box-shadow: 3px 3px 3px 3px maroon;
}

.app {
  padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  float: left;
}

.add {
  float: right;
}
